{
	"properties": {
        "referredClauses": {
          "type": "text"
        },
        "title": {
          "type": "text",
          "analyzer": "whitespace"
        },
        "tags": {
          "type": "text",
          "analyzer": "whitespace"
        },
        "keywords": {
          "type": "text",
          "analyzer": "whitespace"
        },
        "item": {
          "type": "object",
          "enabled": false
        },
        "occurs": {
          "type": "object",
          "enabled": false
        },
        "query": {
          "type": "percolator"
        }
      }
}